<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @cliente.nome %>
</p>

<p>
  <b>Rg:</b>
  <%= @cliente.rg %>
</p>

<p>
  <b>Cpf:</b>
  <%= @cliente.cpf %>
</p>

<p>
  <b>Email:</b>
  <%= @cliente.email %>
</p>

<p>
  <b>Tel:</b>
  <%= @cliente.tel %>
</p>

<p>
  <b>Cel:</b>
  <%= @cliente.cel %>
</p>


<h2>Endereco</h2>
<%= render :partial => "enderecos/endereco", :collection => @cliente.enderecos %>

<%= link_to 'Edit', edit_cliente_path(@cliente) %> |
<%= link_to 'Back', clientes_path %>
